.Container-calendar{
    display:flex;
    justify-content:center;
}


.schedule-container{
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.schedule-container-hours{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hour-button{
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
}