.Home{
    .Contenedor-Home{
        .carousel{
            margin-top: 60px;
            max-height: 500px;
            height: min-content;
            .carousel-inner{
                max-height: 500px;
                height: 100%;
                .carousel-item{
                    img{
                        max-height: 500px;
                    }
                }
            }
        }
    }
}