#root{
    --red:red;
    /*Dia*/
    --F1D:rgb(255, 255, 255);
    --F2D:rgb(224, 224, 224);
    --F3D:rgb(202, 202, 202);
    --F4D:rgb(157, 157, 157);
    --F5D:rgb(125, 125, 125);
    
    /*Noche*/
    --F1N:rgb(0, 0, 0);
    --F2N:rgb(24, 24, 24);
    --F3N:rgb(54, 54, 54);
    --F4N:rgb(102, 102, 102);
    --F5N:rgb(129, 129, 129);

    /*General*/
    --Fondo1:rgb(255, 255, 255);
    --Fondo2:rgb(255, 255, 255);
    --Fondo3:rgb(255, 255, 255);
    --Fondo4:rgb(255, 255, 255);
    --Fondo5:rgb(255, 255, 255);
    
    --Texto1:rgb(255, 255, 255);
    --Texto2:rgb(255, 255, 255);
    --Texto3:rgb(255, 255, 255);
    --Texto4:rgb(255, 255, 255);
    --Texto5:rgb(255, 255, 255);
    

}