#root{
    --Denegado:red;
    --Aprobado:green;
    /*Dia*/
    --F1D:rgb(255, 255, 255);
    --F2D:rgb(200, 200, 200);
    --F3D:rgb(202, 202, 202);
    --F4D:rgb(139, 90, 0);
    --F5D:rgb(182, 118, 0);
    
    --T1D:rgb(0, 0, 0);
    --T2D:rgb(204, 204, 204);
    --T3D:rgb(255, 255, 255);
    --T4D:rgb(182, 118, 0);
    --T5D:rgb(139, 90, 0);
    
    /*Noche*/
    --F1N:rgb(0, 0, 0);
    --F2N:rgb(24, 24, 24);
    --F3N:rgb(54, 54, 54);
    --F4N:rgb(182, 118, 0);
    --F5N:rgb(139, 90, 0);

    --T1N:rgb(255, 255, 255);
    --T2N:rgb(186, 185, 185);
    --T3N:rgb(0, 0, 0);
    --T4N:rgb(182, 118, 0);
    --T5N:rgb(139, 90, 0);

    /*General*/
    --Fondo1:rgb(255, 255, 255);
    --Fondo2:rgb(255, 255, 255);
    --Fondo3:rgb(255, 255, 255);
    --Fondo4:rgb(255, 255, 255);
    --Fondo5:rgb(255, 255, 255);
    
    --Texto1:rgb(0, 0, 0);
    --Texto2:rgb(0, 0, 0);
    --Texto3:rgb(0, 0, 0);
    --Texto4:rgb(0, 0, 0);
    --Texto5:rgb(0, 0, 0);
}