.BarberList{
    margin: 10px;
    margin-top: 30px;
}
.BarberList .btn {
    margin-bottom: 10px;
}
.BarberList .card{
    margin: 1%;
}
.Contenedor-cardL{
    padding: 0;
    animation: fadeIn 1s ease-in-out;
}