.ContainerUp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.barberUpBox{
    width: 50vw;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    border: 4px solid rgba(0, 0, 0, 0.253);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.999);
    color: black;
    
}

.Hours{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.284);
    margin: auto;
    border-radius: 5px;
}

.barberUpBox2{
    border-radius: 5px;
    width: 85%;
    text-align: center;
    text-align: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.244); 
    justify-content: center; 
    margin-bottom: 10%;
}
.barberUpBox2 input {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 15px;
}

.barberUpBox2 button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.barberUpBox label {
 margin-left: 10px;
 margin-right: 5px;
}