.barberCardDetail{
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 350px;
    background-color:rgba(165, 42, 42, 0.36);
    border: 5px solid rgba(0, 0, 0, 0.273);
    border-radius: 8px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color:aliceblue;

}

.barberCardDetail img{
    width: 90%;
    height: 30%;
    margin-bottom: 15%;
}

.barberCardDetail2{
    border: 1px solid rgba(0, 0, 0, 0.726);
    border-radius: 8px;
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 15px;
}

.barberCardDetail2 button {
    margin: 5px;
}