 body{
    background-image: url(../../../images/foto9.jpeg);
    background-size: cover;
}


.BarberFormCont{
    display:flex;
    flex-direction: column;
    height: 550px;
    width: 350px;
    background-color:rgba(165, 42, 42, 0.448);
    border: 5px solid rgba(0, 0, 0, 0.273);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.2em;
    color:white;
}

.BarberFormCont img{
    width: 90%;
    height: 30%;
    margin-bottom: 10%;
}

.BarberFormCont input {
    color: black;
    margin: 5px;
}

.BarberFormCont button {
    margin: 10px;
}