.Contacts-Container{
    margin: 1.5%;
    border:  0;
    color: var(--Denegado);
    .accordion{
        .accordion-item{
            background-color: var(--Fondo2);
            color: var(--Texto1);
            border-color: var(--Fondo4);
            transition: 1s;
            .accordion-button{
                color: var(--Texto1);
                background-color: var(--Fondo3);
                transition: 1s;
                &:not(.collapsed){
                    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--Fondo4);
                    color: var(--Texto4);
                }
            }
        }
    }
}